{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Update Movie</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Movie</button>
        <a href="{% url 'Movieapp:user_profile' %}" class="btn btn-secondary">Cancel</a>
    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
